
<h1> <%= @restaurant.name %></h1>
<p>
<strong>Address:</strong>
<%= @restaurant.address %>
</p>

<p>
<strong>Contact:</strong>
<%= @restaurant.phone_number %>
</p>

<p>
<strong>Category</strong>
<%= @restaurant.category %>
</p>

<%= link_to "Add review to restaurant",new_restaurant_review_path(@restaurant)%>
<%= link_to "Go to Main Page",restaurants_path%>

<h3> Here are the reviews</h3>
<% @restaurant.reviews.each do |review|  %>
<p><%= review.content %> - <%=review.rating %></p>
<%end%>

